/******************************************************************************
navbar-nav shadow
*******************************************************************************/
@mixin navbar-nav-shadow($color) {
  -webkit-box-shadow: inset 0 -3px 0 0 $color;
  -moz-box-shadow:    inset 0 -3px 0 0 $color;
  box-shadow:         inset 0 -3px 0 0 $color;
}