{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Settings') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <h2>Index Settings</h2>
            </div>
        </div>
    </div>
{% endblock %}