.form-place {
  .col {
    padding-right: 15px;
  }

  label {
    font-size: 1.1em;
  }

  select, input[type="text"], input[type="number"] {
    margin: 1em 0;
    font-size: 1.5em;
  }

  .check-text {
    font-size: 1.3em;
  }

  .base-settings {
    min-height: 3em;
    font-size: 1.5em;
    font-weight: 700;
    padding: .9em 0 0 0;
  }
}

/* Component styles */
.js-ripple-btn {
  appearance: none;
  border: none;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  letter-spacing: 0.8em;
  color: #fff;
  font-size: 2em;
  text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);
  padding: 1em 3em;
  margin: 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.js-ripple-btn.styl-material {
  transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
}

.js-ripple-btn.styl-material:hover,
.js-ripple-btn.styl-material:focus {
  outline: none;
}

.ripple-obj {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.ripple-obj use {
  opacity: 0;
}

/* Colors */
.theme .js-ripple-btn.styl-material {
  background: #009688;
}

.theme .js-ripple-btn.styl-material:hover,
.theme .js-ripple-btn.styl-material:focus {
  background: #26A69A;
}

.theme .ripple-obj {
  fill: #00695C;
}