.form-header {
  margin: 20px 0;
}

.form-control {
  height: 80px;
  margin-bottom: 15px;
}

[type=email].form-control,
[type=password].form-control {
  font-size: 36px;
}

.fa-google-plus-square {
  color: #D03F2A;
}

.fa-facebook-square {
  color: #3C579A;
}
