.form-place {
  .col {
    padding-right: 15px;
  }

  label {
    font-size: 1.1em;
  }

  select, input[type="text"], input[type="number"] {
    margin: 1em 0;
    font-size: 1.5em;
  }

  .check-text {
    font-size: 1.3em;
  }

  .base-settings {
    min-height: 3em;
    font-size: 1.5em;
    font-weight: 700;
    padding: .9em 0 0 0;
  }
}