html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  //margin-bottom: 40px;
  padding: 0;
  color: #222;
  background-color: #edeff0;
}

.container-fluid, .col {
  padding: 0;
}

.row {
  margin: 0;
}

// remove outline
input[type="button"] {
  outline:none;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}
.btn:focus {
  outline: 0 !important;
}