.navbar {
  border-radius: 0;
  margin: 0;
}

/******************************************************************************
Logo
*******************************************************************************/
.logo .navbar-brand {
  color: #fff;
  font-size: 0.8em;
}