.navbar {
  border-radius: 0;
  margin: 0;
  position: relative;
}

/******************************************************************************
Logo
*******************************************************************************/
.logo .navbar-brand {
  color: #fff;
  font-size: 36px;
}

/******************************************************************************
menu
*******************************************************************************/
.navbar-nav {
  margin: 0 -15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;

  & > .active > a {
    @include navbar-nav-shadow(rgba(118, 185, 237, 0.75));
  }
}

.sign-in-btn {
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: 10;
  background: #E67E22;
  color: #8E44AD;

  &:after {
    content: " Sign In";
  }

  @media all and (max-width: 500px) {
    &:after {
      content: " ";
    }
  }

  i {
    vertical-align: middle;
  }
}