.settings-content {
  h3 {
    margin: 5px 0;
  }

  .gravatar {
    width: 80px;
    margin: 20px auto 0;

    @media (max-width:770px) {
      margin: 0;
    }

    img {
      border-radius: 40px;
    }
  }
}

.downloads {
  h3 {
    margin: 5px 0;
  }

  .downloaded {
    color: #A7C4D2;

    a {
      &:focus,
      &:hover {
        border-bottom: 1px dashed #A7C4D2;
      }
    }
  }

  .not-downloaded {
    font-weight: bold;
  }

  .helper {
    font-size: .9em;
    line-height: .5em;
  }
}
