.settings-content {
  h3 {
    margin: 5px 0;
  }

  .gravatar {
    width: 80px;
    margin: 20px auto 0;

    @media (max-width:770px) {
      margin: 0;
    }

    img {
      border-radius: 40px;
    }
  }
}