$grey: #607D8B;

.slogan {
  font-family: 'Expletus Sans', cursive;
  font-size: 3.5em;
  font-weight: bold;
  background: $grey;
  padding: 30px 0;
  margin: 0;
  text-shadow: -1px -1px 0 rgba(255,255,255,.3), 1px 1px 0 rgba(0,0,0,.8);
}