$font-size: 1.2em;
$orange: #FF5722;

.nav-tabs {
  background: #607D8B;
  margin-bottom: 15px;

  & > li.active > a {
    background-color: rgba(255, 255, 255, .1) !important;
  }
}

.tab-pane {
  padding: 10px;

  .label {
    display: inline-block;
    font-size: $font-size;
    margin-top: 18px;
    padding-left: 0;
    background: none;
    color: $orange;
  }

  .get-region, .edit-category {
    font-size: $font-size;
  }

  .add-category {
    font-size: 1.2em;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
