@import url('//fonts.googleapis.com/css?family=Raleway:400,300,700');
@import url('//fonts.googleapis.com/css?family=Expletus+Sans:700');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

$grey: #607D8B;
$orange: #FF5722;

main,
footer,
.main,
.footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $orange;
  }

  a:not(.btn),
  a:focus:not(.btn),
  a:hover:not(.btn)
  {
    color: $grey;
    text-decoration: none;
    transition: border-bottom .3s;

    &:hover {
      border-bottom: 1px solid $grey;
    }
  }

  .error-header {
    color: #fff;
  }

  .confirm-email-header,
  .info-header {
    color: #fff !important;
  }
}
