.panel-group {
  position: relative;
}

.panel-heading {
  position: relative;
  overflow: hidden;

  i {
    font-size: 48px;
    position: absolute;
    top: 15%;
    right: 1%;
    color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
  }
}

.panel a {
  display: block;
  min-height: 3em;
  font-size: 1.5em;
  font-weight: 700;
  padding: .9em 0 0 .5em;
  color: #ffffff;
  text-decoration: none;
}

.panel-heading {
  padding: 0;
}

.panel-title:hover {
  cursor: pointer;
}