{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Home') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-12">
            <h1 class="text-center slogan">
                <span class="vendor">
                    <span class="ebay">Ebay</span>
                </span>
                data delivery.
            </h1>
        </div>
    </div>
{% endblock %}