<h4>Account</h4>
<p><a href="{{ url('settings/default', {'action': 'subscription'}) }}">Subscription</a></p>
<p><a href="{{ url('settings/default', {'action': 'statistics'}) }}">Statistics</a></p>

<h4>User</h4>
<p><a href="{{ url('settings/default', {'action': 'profile'}) }}">Profile</a></p>
<p><a href="{{ url('settings/default', {'action': 'notification'}) }}">Notifications</a></p>